/*center all elements and add background image*/
body{
  text-align: center;
  background: url(img/frame.jpg) center center fixed;
  background-size: cover;
}
#header{
  background: linear-gradient(white, rgba(67,169,228,0.9));
  height: 80px;
  width: 500px;
  margin: 10px auto;
  font-size: 3em;
  color: #fff;
  line-height: 70px;
}

/*input container*/
.inputContainer{
  width: 200px;
  margin: 0 auto;
}

/*color input, line thickness, slider*/
.input{
  height: 30px;
  font-size: 1.3em;
}

#slider{
  margin: 10px auto;
}

#circle{
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: black;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#thicknessInput{
  position: relative;
}

/*canvas container*/
#container{
  width: 660px;
  height: 580px;
  border: 1px solid rgba(122, 174, 229, 0.5);
  margin: 10px auto;
}

#paint{
  background-color: #fff;
  cursor: crosshair;
}

/*inputs container 2*/
.inputContainer2{
  width: 400px;
  margin: 0 auto;
}

/*erase save & reset buttons*/
.input2{
  width: 133px;
  color: #5bb4e7;
  font-size: 1.3em;
  float: left;
}

.button{
  background: #fff;
  height: 50px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0,0,0, 0.2);
  position: relative;
}
.button:active{
  top: 4px;
}

.button:hover{
  color: #fff;
  background: linear-gradient(white, rgba(67,169,228,0.9));
}

.eraseMode{
  background-color: red;
  color: white;
}